<mat-toolbar fxlayoutalign="center center" class="mat-toolbar top-navbar mat-elevation-z2 mat-toolbar-single-row"
    style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">

    <a mat-button="" routerlink="/" routerlinkactive="horizontal-active-link"
        class="mat-focus-indicator mat-button mat-button-base horizontal-active-link" tabindex="0"
        aria-disabled="false">
        <span class="mat-button-wrapper">Home</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
    <a aria-haspopup="true" mat-button="" routerlink="/fashion" class="mat-focus-indicator mat-menu-trigger mat-button mat-button-base"
        tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">Fashion<mat-icon _ngcontent-hui-c170=""
                role="img" class="mat-icon notranslate caret material-icons mat-icon-no-color" aria-hidden="true">
                arrow_drop_down
            </mat-icon></span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
    <!-- //check for mat menu -->
    <a  mat-button="" routerlinkactive="horizontal-active-link" routerLink="/teaproducts"
        class="mat-focus-indicator mat-button mat-button-base" tabindex="0" aria-disabled="false"
        ><span class="mat-button-wrapper">Tea</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
    <a  mat-button="" routerlinkactive="horizontal-active-link"
        class="mat-focus-indicator mat-button mat-button-base" tabindex="0" aria-disabled="false"
        href="/products/electronics"><span class="mat-button-wrapper">Electronics</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
    <a  mat-button="" routerlinkactive="horizontal-active-link"
        class="mat-focus-indicator mat-button mat-button-base" tabindex="0" aria-disabled="false"
        href="/products/sports"><span class="mat-button-wrapper">Sports</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
    <a  mat-button="" routerlinkactive="horizontal-active-link"
        class="mat-focus-indicator mat-button mat-button-base" tabindex="0" aria-disabled="false"
        href="/products/motors"><span class="mat-button-wrapper">Motors</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
    <a aria-haspopup="true" mat-button=""
        class="mat-focus-indicator mat-menu-trigger mat-button mat-button-base" tabindex="0" aria-disabled="false"><span
            class="mat-button-wrapper">Pages<mat-icon _ngcontent-hui-c170="" role="img"
                class="mat-icon notranslate caret material-icons mat-icon-no-color" aria-hidden="true">arrow_drop_down
            </mat-icon></span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
    <a mat-button="" routerlink="/contact" routerlinkactive="horizontal-active-link"
        class="mat-focus-indicator mat-button mat-button-base" tabindex="0" aria-disabled="false" href="/contact"><span
            class="mat-button-wrapper">Contact</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
</mat-toolbar>