<div fxlayout="column" fxlayout.gt-sm="row" class="banners-container ng-star-inserted"
    style="flex-direction: row; box-sizing: border-box; display: flex;">
    <div fxlayout="row" fxlayout.gt-sm="column" fxlayout.xs="column" fxflex="100" fxflex.gt-sm="40"
        style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 40%;">
        <div fxflex="50" fxflex.gt-sm="67" class="banner"
            style="flex: 1 1 100%; box-sizing: border-box; max-height: 67%; background-image: url(&quot;https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-0.3.5&amp;s=a8ef3fd4a48693a0620b614a6209b687&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80&quot;);">
            <div fxlayoutalign="start start" class="info"
                style="place-content: flex-start; align-items: flex-start; flex-direction: row; box-sizing: border-box; display: flex;">
                <div fxlayout="column" fxlayoutalign="center center" class="px-2"
                    style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
                    <h1 class="title">New Laptops</h1>
                    <h3 class="subtitle">Now starting at $1299</h3><a mat-raised-button="" color="primary"
                        class="mat-focus-indicator mt-2 mat-raised-button mat-button-base mat-primary" tabindex="0"
                        aria-disabled="false" href="/products"><span class="mat-button-wrapper">Shop now</span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                    </a>
                </div>
            </div>
        </div>
        <div fxlayout="row" fxflex="50" fxflex.gt-sm="33"
            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 100%; max-height: 33%;">
            <div fxflex="" class="banner"
                style="flex: 1 1 0%; box-sizing: border-box; background-image: url(&quot;https://images.unsplash.com/photo-1498661705887-3778d9ecb4ff?ixlib=rb-0.3.5&amp;s=f51f276113011f5dc3020416e13e5cb6&amp;auto=format&amp;fit=crop&amp;w=550&amp;q=80&quot;);">
                <div fxlayoutalign="center center" class="info"
                    style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                    <div fxlayout="column" fxlayoutalign="end center" class="px-2"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-end; align-items: center;">
                        <h2 class="title">New mobile phone</h2>
                        <h4 class="subtitle">Special for today</h4><a mat-raised-button="" color="primary"
                            class="mat-focus-indicator mt-2 mat-raised-button mat-button-base mat-primary" tabindex="0"
                            aria-disabled="false" href="/products"><span class="mat-button-wrapper">Shop now</span>
                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                            <div class="mat-button-focus-overlay"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div fxflex="" class="banner"
                style="flex: 1 1 0%; box-sizing: border-box; background-image: url(&quot;https://images.unsplash.com/photo-1463820048975-a3b50e6d991d?ixlib=rb-0.3.5&amp;s=6cfe9709e4c45ab8b4f875c84a2746ed&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80&quot;); flex-direction: row; display: flex;">
                <div fxflex="" fxlayoutalign="center center" class="info"
                    style="flex: 1 1 0%; box-sizing: border-box; place-content: center; align-items: center; flex-direction: row; display: flex;">
                    <div fxlayout="column" fxlayoutalign="end center" class="px-2"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-end; align-items: center;">
                        <h2 class="title">Watch collection</h2>
                        <h4 class="subtitle">Special for today</h4><a mat-raised-button="" color="primary"
                            class="mat-focus-indicator mt-2 mat-raised-button mat-button-base mat-primary" tabindex="0"
                            aria-disabled="false" href="/products"><span class="mat-button-wrapper">Shop now</span>
                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                            <div class="mat-button-focus-overlay"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div fxlayout="row" fxlayout.gt-sm="column" fxlayout.xs="column" fxflex="100" fxflex.gt-sm="60"
        style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 60%;">
        <div fxlayout="row" fxflexorder="2" fxflexorder.gt-sm="1" fxflex="50" fxflex.gt-sm="33"
            style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 100%; max-height: 33%; order: 1;">
            <div fxflex="" class="banner"
                style="flex: 1 1 0%; box-sizing: border-box; background-image: url(&quot;https://images.unsplash.com/photo-1509695507497-903c140c43b0?ixlib=rb-0.3.5&amp;s=f695afbce9bdbe2c16c7a7b3875588f2&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80&quot;);">
                <div fxlayoutalign="space-around center" class="info"
                    style="place-content: center space-around; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                    <div fxlayout="column" fxlayoutalign="end center" class="px-2"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-end; align-items: center;">
                        <h2 class="title">Summer collection</h2>
                        <h4 class="subtitle">New Arrivals On Sale</h4><a mat-raised-button="" color="primary"
                            class="mat-focus-indicator mt-2 mat-raised-button mat-button-base mat-primary" tabindex="0"
                            aria-disabled="false" href="/products"><span class="mat-button-wrapper">Shop now</span>
                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                            <div class="mat-button-focus-overlay"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div fxflex="" class="banner"
                style="flex: 1 1 0%; box-sizing: border-box; background-image: url(&quot;https://images.unsplash.com/photo-1499013819532-e4ff41b00669?ixlib=rb-0.3.5&amp;s=976794f0c5d7239a69cfacb3d3f86c3b&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80&quot;);">
                <div fxlayoutalign="center center" class="info"
                    style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                    <div fxlayout="column" fxlayoutalign="end center" class="px-2"
                        style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-end; align-items: center;">
                        <h2 class="title">Shoes for you</h2>
                        <h4 class="subtitle">Now starting at $89</h4><a mat-raised-button="" color="primary"
                            class="mat-focus-indicator mt-2 mat-raised-button mat-button-base mat-primary" tabindex="0"
                            aria-disabled="false" href="/products"><span class="mat-button-wrapper">Shop now</span>
                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                            <div class="mat-button-focus-overlay"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div fxflexorder="1" fxflexorder.gt-sm="2" fxflex="50" fxflex.gt-sm="67" class="banner"
            style="flex: 1 1 100%; box-sizing: border-box; max-height: 67%; background-image: url(&quot;https://images.unsplash.com/photo-1459204195697-4de88edf3ab1?ixlib=rb-0.3.5&amp;s=11e2623667499f18828709399500a7c1&amp;auto=format&amp;fit=crop&amp;w=900&amp;q=80&quot;); order: 2;">
            <div fxlayout="column" fxlayoutalign="center end" class="info"
                style="flex-direction: column; box-sizing: border-box; display: flex; place-content: flex-end center; align-items: flex-end;">
                <div fxlayout="column" fxlayoutalign="center center" class="px-2"
                    style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
                    <h1 class="title">Popular jewellery brands</h1>
                    <h3 class="subtitle">Now starting at $1799</h3><a mat-raised-button="" color="primary"
                        class="mat-focus-indicator mt-2 mat-raised-button mat-button-base mat-primary" tabindex="0"
                        aria-disabled="false" href="/products"><span class="mat-button-wrapper">Shop now</span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="products-tabs">
    <mat-tab-group>
        <mat-tab label="Featured" > 
            <app-products-carousel [name]="feature"></app-products-carousel>
        </mat-tab>
        <mat-tab label="On Sale" > 
            <app-products-carousel [name]="sale"></app-products-carousel>
         </mat-tab>
        <mat-tab label="Top Rated"> Content 3 </mat-tab>
        <mat-tab label="New Arrivals"> Content 3 </mat-tab>
      </mat-tab-group>
</div>